<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Page</title>
</head>
<body>
    <h1>Uploaded Image</h1>
    <img src="/uploads/<%= filename %>" alt="Uploaded Image" style="max-width: 25%; height: 25%;">
</body>
<body>
    <h1>Closest Image</h1>
    <img src="<%=s3_filename%>" alt="Close Image" style="max-width: 25%; height: 25%;">
</body>

</html>
